# Hide the Build folder completely
Build/** linguist-vendored=true
Build/** linguist-generated=true

# Nuke all Shader files from language stats globally
*.shader linguist-generated=true
*.cginc linguist-generated=true